<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Hangman game</title>
</head>
<body style ="background-color:rgb(134, 123, 123);"> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
        <div class="container-fluid">
            <style> 
                body{
                    font-family: 'Indie Flower', cursive;
                }
            </style>
          <a style="color:red;font-size:40px;" class="navbar-brand" href="#">Hangman</a>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form action="/">
            <input type="submit" style="color:azure;font-size:30px;" class="btn btn-success" value="New game">
            </form>
          </div>
        </div>
      </nav>
      <br><br>
      <div class="text-center">
        <input style ="background:transparent;font-size:26px;border:none;color:black;" id="display" disabled=true value="{{notGuessed}}">
        </div>
        <div class="mb-3 w-25 mx-auto ">
          <label style="color:black;font-size:24px;font-weight:Bold" for="input" class="form-label">Enter your guess here :</label>
          <input style="border:6px outset#0a0500;" type="text" class="form-control" id="nextChar" maxlength="1" size="1">
          <br>
          <button style="font-size:21px;" id="check" type="submit" class="btn btn-dark " onclick="check()">Submit</button>
        </div>

        <div class="text-center">
        <img id="hangImage" src={{url}} alt="image" class="mx-auto"> 
        </div> 

        <script>
          function check(){
            let value = document.getElementById("nextChar").value
            document.getElementById("nextChar").value = ""
            axios.post("{{url_for('check')}}",{type:'check','input':value}).then(
              async function(r){
                if(r.data.type === 'correct'){
                  document.getElementById("display").value = r.data.foundWord
                }
                else if(r.data.type === 'wrong'){
                  document.getElementById("display").value = r.data.foundWord
                  document.getElementById("hangImage").src=r.data.url
                }
                else if(r.data.type === 'win'){
                  document.getElementById("display").value = r.data.foundWord
                  document.getElementById("check").disabled= true
                  document.getElementById("nextChar").disabled= true
                }
                else{
                  document.getElementById("display").value = r.data.foundWord
                }
              }
            )
          }
        </script>
      </body>
</html>